.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 3px solid #ebad0f;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 10px 0;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  color: #e7870a;
  text-decoration: none;
  letter-spacing: -0.05em;
  font-family: "Times New Roman", Times, serif;
  margin-left: 40px;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 40px;
}

.main-menu a:hover {
  color: hsl(242, 90%, 45%);
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #e7870a;
  font-weight: 700;
  transition: color 0.2s ease;
  font-family: "Times New Roman", Times, serif;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #e5e7eb;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background 0.2s;
}

.theme-toggle:hover {
  background-color: #e7870a;
  transform: translateY(-2px); /* Nhảy nhẹ lên khi di chuột */
  box-shadow: 0 10px 15px -3px #e7870a;
}

.btn-cv {
  position: relative;
  background: #e7870a;
  background-color: linear-gradient(
    to bottom,
    #f7b45a 0%,
    #e79a35 45%,
    #d67f1f 100%
  );
  color: white;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.45),
    0 0 15px rgba(225, 138, 34, 0.6);
  overflow: hidden;
  outline: 3px solid #e7870a;
  outline-offset: 3px;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-cv::after {
  position: absolute;
  inset: 7px;
  border-radius: 38px;
  border: 2px solid rgba(255, 255, 255, 0.85);
}

.btn-cv::before {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  height: 45%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(225, 138, 34, 0.6)
  );
  border-radius: 35px;
}

.btn-cv:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
}

.btn-cv:active {
  transform: scale(0.98);
  filter: brightness(0.95);
}
