.projects {
  display: block;
  /* margin: 0 64px 48px 48px; */
  gap: 20px;
  background-color: #ffffff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-bottom: 3px solid #ebad0f;
}

.btn-project {
  position: relative;
  width: auto;
  background: #e7870a;
  background-color: linear-gradient(
    to bottom,
    #f7b45a 0%,
    #e79a35 45%,
    #d67f1f 100%
  );
  color: white;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  padding: 8px 16px;
  border: none;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.45),
    0 0 15px #e7870a;
  overflow: hidden;
  outline: 3px solid #e7870a;
  outline-offset: 3px;
  font-family: "Times New Roman", Times, serif;
  font-size: 140%;
  font-style: bold;
  margin: 35px 600px 0 600px;
  white-space: nowrap;
}

.btn-project::after {
  position: absolute;
  inset: 7px;
  border-radius: 38px;
}

.btn-project::before {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  height: 45%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), #e7870a);
  border-radius: 35px;
}

.btn-project:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
}

.btn-project:focus,
.btn-project:active {
  outline: 3px solid #e7870a;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.45),
    0 0 15px #e7870a;
}

.projects p {
  font-family: "Times New Roman", Times, serif;
  font-size: 120%;
  font-style: italic;
  margin-left: 500px;
  margin-bottom: 35px;
  color: #000;
}

.project-info {
  display: block;
  gap: 40px;
}

.project-1,
.project-2 {
  display: flex;
  gap: 40px;
  margin: 0 250px 20px 250px;
  /* margin-left: 250px;
  margin-right: 250px;
  margin-top: 20px;
  margin-bottom: 20px; */
  padding: 15px 50px 15px 50px;
  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px; */
  border: 3px solid orange;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background: rgba(255, 255, 255, 0.12); /* nền trong */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  justify-content: center;
  color: #000;
  background-color: wheat;
}

.project-1:hover,
.project-2:hover {
  transform: translateY(-6px);
  transition: 0.3s ease;
  box-shadow:
    0 0 15px rgba(255, 165, 0, 0.6),
    0 0 40px rgba(255, 165, 0, 0.3),
    0 12px 40px rgba(0, 0, 0, 0.4);
}

.project-1 img,
.project-2 img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* .project-1 p, .project-2 p {
    col
} */

.deceive-line-2 {
  position: relative;
  top: 5px;
  height: 150px;
  width: 4px;
  background: #e18a22;
  border-radius: 10px;
}
