.skill {
  background-color: #ffffff;
  display: block;
  border-bottom: 3px solid #ebad0f;
  border-radius: 30px;
}

.btn-skill {
  position: relative;
  width: auto;
  background: #e7870a;
  background-color: linear-gradient(
    to bottom,
    #f7b45a 0%,
    #e79a35 45%,
    #d67f1f 100%
  );
  color: white;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  padding: 8px 16px;
  border: none;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.45),
    0 0 15px #e7870a;
  overflow: hidden;
  outline: 3px solid #e7870a;
  outline-offset: 3px;
  font-family: "Times New Roman", Times, serif;
  font-size: 140%;
  font-style: bold;
  margin: 35px 600px 35px 600px;
  white-space: nowrap;
}

.btn-skill::after {
  position: absolute;
  inset: 7px;
  border-radius: 38px;
}

.btn-skill::before {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  height: 45%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), #e7870a);
  border-radius: 35px;
}

.btn-skill:hover {
  filter: brightness(1.1);
  transform: scale(1.03);
}

.btn-skill:focus,
.btn-skill:active {
  outline: 3px solid #e7870a;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.45),
    0 0 15px #e7870a;
}

.skill-intro {
  font-family: "Times New Roman", Times, serif;
  font-size: 120%;
  font-style: italic;
  margin: 0 0 35px 550px;
  /* margin-left: 500px;
  margin-bottom: 20px; */
  justify-content: center;
  color: #000;
}

.list-skill {
  display: flex;
  justify-content: space-between; /* tách đều */
  gap: 30px;
  margin: 0 300px;
}

.list-skill p {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  font-style: italic;
}

.list-skill-1 {
  display: block;
  gap: 20px;
  border-radius: 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.list-skill-1 button,
.list-skill-2 button {
  position: relative;
  background: #e7870a;
  background-color: linear-gradient(
    to bottom,
    #f7b45a 0%,
    #e79a35 45%,
    #d67f1f 100%
  );
  color: white;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  white-space: nowrap;
  border: none;
  box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.45),
    0 0 15px rgba(225, 138, 34, 0.6);
  overflow: hidden;
  outline: 3px solid #e7870a;
  outline-offset: 3px;
  font-family: "Times New Roman", Times, serif;
  font-size: 130%;
  font-style: bold;
  margin-bottom: 35px;
}

.deceive {
  position: relative;
  /* left: 50%; */
  /* top: 70px; */
  height: 400px; /* tới hết icon */
  width: 4px;
  background: #e18a22;
  border-radius: 10px;
}

.list-skill-2 {
  display: block;
  gap: 40px;
}

.skill-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  text-align: center;
  gap: 50px;
}

.skill-item {
  text-align: left;
  margin-bottom: 30px;
}

/* .skill-item:hover {
  transform: translateY(-6px);
  transition: 0.3s ease;
  box-shadow:
    0 0 15px rgba(255, 165, 0, 0.6),
    0 0 40px rgba(255, 165, 0, 0.3),
    0 12px 40px rgba(0, 0, 0, 0.4);
} */

.skill-item img {
  width: 50px;
  height: auto;
}

.skill-item h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #e18a22;
}
